:root {
  /* colors */
  --color1: #a13304;
  --color2: #cb5f00;
  --color3: #ffac04;
  --color4: #1e8673;
  --color5: white;
  --color6: rgb(236, 236, 236);

  /* sizes */
  --size-3xs: 0.1rem;
  --size-2xs: 0.125rem;
  --size-xs: 0.3rem;
  --size-sm: 0.5rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;
  --size-2xl: 3rem;
  --size-3xl: 5rem;

  /* fonts */
  --font1: 'Teko', sans-serif;
  --font2: 'Lilita One', sans-serif;
  --font3: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: var(--color5);
  font-family: var(--font1);
  margin: 0;
}

.center-text {
  text-align: center;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font3);
}

h2 {
  font-size: var(--size-3xl);  
  line-height: var(--size-3xl);
}

/* Header */

header {
  background-color: var(--color3);
  color: var(--color2);
  padding: 0 var(--size-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  background-image: url('https://drive.google.com/uc?export=view&id=1ZImW-OSC2emLeJqd_cG8DKWZdTRCmxgP');
  background-repeat: no-repeat;
  background-size: 5.25rem;
  background-position: center;
  height: 4rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1.15fr 1fr 1fr;
}

nav a {
  color: var(--color2);
  text-decoration: none;
  transition: .3s ease-in-out;
  font-size: var(--size-lg);
  font-family: var(--font1);
  text-align: center;
}

nav a:hover {
  color: var(--color1);
  cursor: pointer;
  text-decoration: underline;
}

/* Home */

.home {
  background-size: 100%;
  background-image: url('https://drive.google.com/uc?export=view&id=1MAoY085kopUipdGwr22bOHNsQAz6CSfK');
  background-repeat: no-repeat;
  background-position: center
}

.home .text {
  padding: var(--size-2xl) 0;
  color: var(--color5);
}

h1 {
  font-size: 10rem;
}

h1 .red {
  color: var(--color2);
}

.home p {
  font-size: 2.5rem;
  padding: var(--size-md) 0;
  font-family: var(--font2);
}

.learn-more {
  background-color: var(--color4);
  color: var(--color5);
  font-family: var(--font3);
  border: none;
  padding: 0.6rem var(--size-2xl);
  border-radius: 0.4rem;
  font-size: var(--size-lg);
  letter-spacing: var(--size-3xs);
  box-shadow:   var(--size-xs)  var(--size-xs) 1.9rem  var(--size-xs) #082721;
  transition: .18s ease-in-out;
}

.learn-more:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: var(--size-3xs) solid white;
}

/* About */

.about { 
  display: flex;
  justify-content: center;
  margin: var(--size-xl);
}

.about .img-container {
  background-image: url('https://drive.google.com/uc?export=view&id=1odn7yKEEMny4yiIwVojf3pgrnuWsZPEt');
  border-radius: var(--size-md);
  background-size: 25rem;
  margin-top: var(--size-md);
  height: 22rem;
  width: 22rem;
  background-repeat: no-repeat;
  background-position: 20% 20%;
}

.divider {
  height: 25rem;
  width:  var(--size-sm);
  background-color: var(--color2);
  margin-left: var(--size-3xl);
  margin-bottom: var(--size-xl);
}

.about-message {
  display: flex;
  flex-direction: column;
  padding-left: var(--size-xl);
  padding-top: var(--size-xl);
}

.hello-friends {
  display: flex;
  align-items: center;
}

.about h2 {
  color: var(--color2);
}

.about p {
  font-size: 1.3rem;
  margin: 0.25rem 0 ;
  max-width: 25rem;
}

.fa-paw {
  margin-left: var(--size-md);
  font-size: var(--size-2xl);
  color: var(--color4);
  transform: rotate(25deg);
}

/* Reviews */

.ruff-tastic-reviews {
  padding: var(--size-xl) 0;
  background-color:#fff0d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ruff-tastic-reviews h2 {
  color: black;
}

.review-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
}

.review-card {
  background-color: var(--color5);
  height: 28rem;
  width: 20rem;
  border-radius: var(--size-md);
  margin: var(--size-md);
}

.review-img {
  width: 20rem ;
  height: auto;
  border-radius: var(--size-md) var(--size-md) 0 0 ;
  box-shadow: 0  var(--size-xs) 0.6rem 0.06rem grey;
}

.name {
  font-size: var(--size-lg);
  margin-top: var(--size-md);
  font-family: 'Outfit', sans-serif;
  letter-spacing: var(--size-2xs);
}

.review-statement {
  font-size: var(--size-md);
  margin: 0 var(--size-md);
  margin-top: var(--size-md);
  height: var(--size-3xl);
}

.fa-star {
  color: #ffdd00;
}

/* Pricing */

.pricing {
  padding: var(--size-xl) 0;
}

.pricing h2 {
  color: var(--color2);
}

.price-note {
  font-style: italic ;
}

.pricing-plans {
  margin: var(--size-xl) var(--size-md);
  gap: var(--size-xl);
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lite, .plus {
  padding: var(--size-2xl);
  box-shadow: 0 -0 0.6rem var(--size-2xs) grey;
  border-radius: var(--size-md);
  margin-top: var(--size-xl);
  display: flex;
  flex-direction: column;
}

.basic-container {
  box-shadow: 0 -0 0.6rem var(--size-2xs)  grey;
  border-radius: var(--size-md);
  background-color: black;
  margin: 0;
}

.popular {
  padding:  var(--size-sm) var(--size-2xl);
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: black;
  background-color: white;
  border-radius: var(--size-md) var(--size-md) 0 0;
  box-shadow: 0 0 0.9rem  var(--size-xs) grey;
}

.basic {
  margin-top: 0.75rem;
  padding: var(--size-xl) var(--size-2xl);
  color: var(--color5);
  display: flex;
  flex-direction: column;

}

.plan-name, .amount {
  font-size: 2.5rem
}

.time {
  font-weight: lighter;
  letter-spacing: var(--size-2xs);
  font-family: var(--font3);
  margin-left:  var(--size-sm);
}

.book {
  margin-top: 8rem;
  background-color: black;
  color: var(--color5);
  font-family: var(--font3);
  border: none;
  padding: 0.6rem var(--size-2xl);
  border-radius: 0.4rem;
  font-size: 0.75rem;
  letter-spacing: var(--size-2xs);
  transition: .18s ease-in-out;
}

.book:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--color4);
}

.basic .book {
  background-color: white;
  color: black;
}

.basic .book:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--color4);
  color: white;
}

label {
  display: flex;
  flex-direction: column;
  font-family: var(--font3);
  margin: var(--size-md) 0;
}

/* Contact Me */
.contact-me {
  padding: 10% 20%;
  background-color: rgb(48, 45, 45);
}

h2 .contact {
  color: var(--color3);
}

.contact-me h2 {
  padding: var(--size-xl) 0;
}

.contact-me-text {
  color: white;
}

input, textarea {
  border-radius:  var(--size-sm);
  background-color: rgb(99, 94, 94);
  border: none;
  font-size: 1.2rem;
  padding:  var(--size-sm);
  margin-top:  var(--size-xs);
  font-family: sans-serif;
  color: var(--color6)
}

.contact-me button {
  border: none;
  background-color: var(--color3);
  color: var(--color5);
  border-radius:  var(--size-sm);
  padding: 0.75rem 0;
  margin-top: var(--size-3xl);
  font-family: var(--font3);
  letter-spacing: var(--size-3xs);
  width: 100%;
  font-weight: bold;
}

@media (max-width: 1023px) {
  h1 {
    font-size: var(--size-3xl);
  }

  h2 {
    font-size: var(--size-xl);
  }

  .center-text p, nav a, .fa-paw {
    font-size: var(--size-lg);
  }

  .review-card .review-statement, .learn-more, .about p {
    font-size: var(--size-md)
  }

  .book {
    margin-top: 4rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review-card-container, .pricing-plans  {
    grid-template-columns: 1fr;
  }

  .review-card-container {
    overflow-x: hidden;
    width: unset;
  }

  .divider, .ruff-tastic {
    display: none;
  }

  .about-message {
    padding-left: 0;
  }
}

@media (max-width: 425px) {

  .logo-container {
    display: none;
  }

  header {
    justify-content: center;
  }

  h1 {
    color: var(--color2);
    font-size: var(--size-xl);
  }
}